<main>
    <div class="menu">
        <div class="header">
            <div class="header-container">
                <div class="header-links home">
                    <a (click)="goHome()">Home</a>
                </div>
                <div class="logo" (click)="goHome()">
                    <img src="../assets/logo.svg" alt="finger-licking logo" />
                </div>
                <div class="header-links others">
                    <a (click)="goToJuices()">Juices</a>
                    <a href="tel:+2347087347636" class="contact-us-link">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="mobile">
            <img src="../assets/menu.svg" alt="menu icon" (click)="handleMenu()" />

            <div class="mobile-links" *ngIf="isOpen">
                <div class="close-mobile" (click)="handleMenu()">
                    <img src="../assets/menu-close.svg" alt="close menu icon" /> 
                </div>
                <a (click)="goHome()" class="menu-link">Home</a>
                <a (click)="goToMenu()" class="menu-link">Menu</a>
                <a (click)="goToJuices()" class="menu-link">Juices</a>
                <a (click)="goToContact()" class="menu-link">Contact</a>
                <a href="tel:+2347087347636">+2347087347636</a>
            </div>
        
        </div>
    </div>
    <section class="hero-section">`
        <div class="hero-pattern one">
            <div class="square-pattern-one">
                <div class="circle"></div>
            </div>
            <div class="square-pattern-two">
                <div class="square-two"></div>
                <div class="bottom-two">
                    <div class="square three"></div>
                    <div class="square four"></div>
                </div>
            </div>
        </div>
        <div class="hero-section-upper">
            <div class="fruits">
                <img src="../assets/hero-image.svg" alt="fruits png" />
            </div>
    
            <div class="hero-content">
                <h1>Grilled Fish, Salads, Sandwiches & Natural Fresh Juices</h1>
                <div class="circles-divider">
                    <div class="circle one"></div>
                    <div class="circle two"></div>
                    <div class="circle three"></div>
                    <div class="circle four"></div>
                    <div class="circle five"></div>
                    <div class="circle six"></div>
                </div>
                <p>Welcome to Fingerlicking Place! We offer a mouthwatering selection of grilled fish, sandwiches and natural fresh juices for a healthy eating experience.</p>
                <div class="order-now">
                    <a href="tel:+2347087347636" class="order-now">Order Now</a>
                </div>
            </div>
    
            <div class="sandwiches">
                <img src="../assets/hero-image-2.svg" alt="sandwich png" />
            </div>
        </div>
        <div class="hero-section-lower">
            <div class="mint">
                <img src="../assets/hero-image-3.svg" alt="mint png" />
            </div>
        </div>
    
    </section>
    <section class="main-menu-section" #menu id="menu">
        <div class="main-menu-container">
            <div class="header-container">
                <div class="header-outline"></div>
                <div class="header-content">
                    <h1>Fingerlicking Place</h1>
                </div>
            </div>
            <div class="menu-container">
                <div class="menu-upper">
                    <div class="menu-items-left">
                        <div class="menu-items grills">
                            <div class="menu-items-title">
                                <h2>Grills</h2>
                            </div>
                            <div class="menu-item">
                                <div class="item"><p>Tilapia</p> <p>...........................................</p> <p>6000</p></div>
                                <div class="item"><p>Catfish</p> <p>...........................................</p> <p>6000</p></div>
                                <div class="item"><p>Croaker</p> <p>...........................................</p> <p>7000</p></div>
                                <div class="item"><p>Fingerlicking special</p> <p>...........................................</p> <p>7000</p></div>
                                <div class="item"><p>Grilled baby chicken (whole)</p> <p>...........................................</p> <p>4000</p></div>
                                <div class="item"><p>Quarter Chicken</p> <p>...........................................</p> <p>1000</p></div>
                                <div class="item"><p>Gizzard</p> <p>...........................................</p> <p>500</p></div>
                            </div>
                        </div>

                        <div class="menu-items sides">
                            <div class="menu-items-title">
                                <h2>Sides</h2>
                            </div>
                            <div class="menu-item">
                                <div class="item"><p>Fries</p> <p>...........................................</p> <p>1000</p></div>
                                <div class="item"><p>Roasted Plantain or Sweet Potatoe</p> <p>...........................................</p> <p>1000</p></div>
                            </div>
                        </div>

                        <div class="menu-items sandwich">
                            <div class="menu-items-title">
                                <h2>Sandwich</h2>
                            </div>
                            <div class="menu-item">
                                <div class="item"><p>Tuna & Sweet Corn with Brown Bread</p> <p>...........................................</p> <p>1000</p></div>
                                <div class="item"><p>Smoked Chicken</p> <p>...........................................</p> <p>1500</p></div>
                                <div class="item"><p>Club Sandwich</p> <p>...........................................</p> <p>1500</p></div>
                                <div class="item"><p>Prawn and mayo </p> <p>...........................................</p> <p>2000</p></div>
                            </div>
                        </div>

                        <div class="menu-items burger">
                            <div class="menu-items-title">
                                <h2>Burger</h2>
                            </div>
                            <div class="menu-item">
                                <div class="item"><p>Chicken Burger</p> <p>...........................................</p> <p>2500</p></div>
                                <div class="item"><p>Beef Burger</p> <p>...........................................</p> <p>2000</p></div>
                            </div>
                        </div>
                    </div>
                  

                    <div class="menu-divider"></div>

                    <div class="menu-items-right">
                        <div class="menu-items wraps">
                            <div class="menu-items-title">
                                <h2>Wraps</h2>
                            </div>
                            <div class="menu-item">
                                <div class="item"><p>Avocado Wrap</p> <p>...........................................</p> <p>1000</p></div>
                                <div class="item"><p>Chicken Wraap</p> <p>...........................................</p> <p>1500</p></div>
                            </div>
                        </div>

                        <div class="menu-items shawarma">
                            <div class="menu-items-title">
                                <h2>Shawarma</h2>
                            </div>
                            <div class="menu-item">
                                <div class="item"><p>Chicken</p> <p>...........................................</p> <p>2000</p></div>
                                <div class="item"><p>Beef</p> <p>...........................................</p> <p>1500</p></div>
                            </div>
                        </div>

                        <div class="menu-items extras">
                            <div class="menu-items-title">
                                <h2>Extras</h2>
                            </div>
                            <div class="menu-item">
                                <div class="item"><p>Cheese</p> <p>...........................................</p> <p>300</p></div>
                                <div class="item"><p>Sausage</p> <p>...........................................</p> <p>300</p></div>
                                <div class="item"><p>Chilli Sauce</p> <p>...........................................</p> <p>-</p></div>
                                <div class="item"><p>Garlic Sauce</p> <p>...........................................</p> <p>-</p></div>
                            </div>
                        </div>

                        <div class="menu-items tea">
                            <div class="menu-items-title">
                                <h2>Tea</h2>
                            </div>
                            <div class="menu-item">
                                <div class="item"><p>Chai Masala</p> <p>...........................................</p> <p>1000</p></div>
                                <div class="item"><p>Spiced Tea</p> <p>...........................................</p> <p>500</p></div>
                                <div class="item"><p>Fruit Tea</p> <p>...........................................</p> <p>500</p></div>
                            </div>
                        </div>

                        <div class="menu-items drinks">
                            <div class="menu-items-title">
                                <h2>Drinks</h2>
                            </div>
                            <div class="menu-item">
                                <div class="item"><p>Lemon & Mint</p> <p>...........................................</p> <p>600</p></div>
                                <div class="item"><p>Tiger Nut</p> <p>...........................................</p> <p>600</p></div>
                                <div class="item"><p>Sugar Cane</p> <p>...........................................</p> <p>600</p></div>
                                <div class="item"><p>Juice</p> <p>...........................................</p> <p>600</p></div>
                                <div class="item"><p>Smoothie</p> <p>...........................................</p> <p>1500</p></div>
                                <div class="item"><p>Tamarind</p> <p>...........................................</p> <p>600</p></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="juices-menu-section" #juices id="juices">
        <div class="juices-menu-container">
            <div class="juices-menu-title">
                <h1>Real Juices</h1>
                <p>Experience the refreshing goodness of our natural fresh juices. Made from the freshest fruits and vegetables, our juices are packed with nutrients and bursting with flavor.</p>
            </div>
            <div class="juices-menu-content">
                <div class="upper-content">
                    <div class="left-content">
                        <div class="juice-item one">
                            <div class="upper-circle">
                                <h2>Celery Delight</h2>
                            </div>
                            <div class="lower-circle">
                                <h3>Ingredients</h3>
                                <div class="divider"></div>
                                <p>Celery, Pineapple, Cucumber</p>
                            </div>
                        </div>
    
                        <div class="juice-item two">
                            <div class="upper-circle">
                                <h2>Sugar cane</h2>
                            </div>
                            <div class="lower-circle">
                                <h3>Ingredients</h3>
                                <div class="divider"></div>
                                <p>Sugarcane, Lemon, Ginger</p>
                            </div>
                        </div>

                        <div class="juice-item three">
                            <div class="upper-circle">
                                <h2>Unbeetable</h2>
                            </div>
                            <div class="lower-circle">
                                <h3>Ingredients</h3>
                                <div class="divider"></div>
                                <p>Beetroot, Apple, Carrot, Pineapple and Ginger</p>
                            </div>
                        </div>
                    </div>
                    <div class="right-content">
                        <div class="circle-background"></div>
                        <video autoplay muted loop class="mockup-video" onloadedmetadata="this.muted = true" oncanplay="this.play()">
                            <source src="../assets/videos/juice-1.mp4" type="video/mp4">
                            <b>Your browser does not support the video tag</b>
                        </video>
                    </div>
                </div>
                <div class="lower-content">
                    <div class="lower-content-container">
                        
                        <div class="left-content">
                            <div class="circle-background"></div>
                            <video autoplay muted loop class="mockup-video" onloadedmetadata="this.muted = true" oncanplay="this.play()">
                                <source src="../assets/videos/juice-2.mp4" type="video/mp4">
                                <b>Your browser does not support the video tag</b>
                            </video>
                        </div>
                        <div class="right-content">
                            <div class="juice-item three">
                                <div class="upper-circle">
                                    <h2>Mango</h2>
                                </div>
                                <div class="lower-circle">
                                    <h3>Ingredients</h3>
                                    <div class="divider"></div>
                                    <p>Orange, Pineapple, Mango</p>
                                </div>
                            </div>
        
                            <div class="juice-item four">
                                <div class="upper-circle">
                                    <h2>Pam</h2>
                                </div>
                                <div class="lower-circle">
                                    <h3>Ingredients</h3>
                                    <div class="divider"></div>
                                    <p>Pineapple, Apple, Mint</p>
                                </div>
                            </div>
        
                            <div class="juice-item five">
                                <div class="upper-circle">
                                    <h2>Simply Watermelon</h2>
                                </div>
                                <div class="lower-circle">
                                    <h3>Ingredients</h3>
                                    <div class="divider"></div>
                                    <p>Watermelon, Mint</p>
                                </div>
                            </div>

                            <div class="juice-item six">
                                <div class="upper-circle">
                                    <h2>Cucumber Bliss</h2>
                                </div>
                                <div class="lower-circle">
                                    <h3>Ingredients</h3>
                                    <div class="divider"></div>
                                    <p>Cucumber, Pineapple and Green Apple</p>
                                </div>
                            </div>

                            <div class="juice-item seven">
                                <div class="upper-circle">
                                    <h2>Green Wellness</h2>
                                </div>
                                <div class="lower-circle">
                                    <h3>Ingredients</h3>
                                    <div class="divider"></div>
                                    <p>Kale, Apple, Pear, Cucumber and Lemon</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-now">
                        <a href="tel:+2347087347636" class="order-now"><button>Order Now</button></a>
                    </div>
                </div>
            </div>
        </div>  
       
    </section>
    <section class="contact-us-section" #contact id="contact">
        <div class="contact-us-container">
            <div class="contact-us-left">
                <div class="contact-us-left-title">
                    <h2>Reach Out and Savor the Flavor!</h2>
                </div>
                <div class="contact-us-telephone-contact">
                    <div class="call-us one">
                        <div class="call-us-icon">
                            <img src="../assets/call-us-icon.svg" alt="call us icon" />
                        </div>
                        <div class="call-us-context">
                            <p>Call us at <i>+2347087347636</i></p>
                        </div>
                    </div>

                    <div class="call-us two">
                        <div class="call-us-icon">
                            <img src="../assets/call-us-icon.svg" alt="call us icon" />
                        </div>
                        <div class="call-us-context">
                            <p>Call us at <i>+2348093682471</i></p>
                        </div>
                    </div>

                    <div class="call-us three">
                        <div class="call-us-icon">
                            <img src="../assets/call-us-icon.svg" alt="call us icon" />
                        </div>
                        <div class="call-us-context">
                            <p>Call us at <i>+2348037876120</i> </p>
                        </div>
                    </div>
                </div>

                <div class="contact-us-location-contact">
                    <div class="location-icon">
                        <img src="../assets/contact-us-location.svg" alt="contact us location" />
                    </div>

                    <div class="location-context">
                        <p>Hokf garden, Wuye, Abuja (House of Kits & Fits)</p>
                    </div>
                </div>
            </div>
            <div class="contact-us-right">
                <img src="../assets/contact-us.svg" alt="contact us image" />
            </div>
        </div>
    </section>
    <div class="footer">
        <div class="footer-container">
            <div class="footer-content-one">
                <div class="logo" (click)="goHome()">
                    <img src="../assets/logo.svg" alt="finger-licking logo" />
                </div>
                <div class="slogan">
                    <p>Grilled Fish, Salads, Sandwiches & Natural Fresh Juices</p>
                </div>
            </div>
            <div class="footer-content-two">
                <div class="footer-links">
                    <a (click)="goHome()">Home</a>
                    <a (click)="goToMenu()">Menu</a>
                    <a (click)="goToJuices()">Juices</a>
                    <a (click)="goToContact()" class="contact-us-link">Contact Us</a>
                </div>
            </div>
            <div class="footer-content-three">
                <div class="location-icon">
                    <img src="../assets/contact-us-location.svg" alt="contact us location" />
                </div>
                <p>Hokf garden, Wuye, Abuja (House of Kits & Fits)</p>
            </div>
            
        </div>
        <div class="copyright">
            <i>All rights reserved | © Fingerlicking Place</i>
        </div>
    </div>
   
</main>